.container {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    background: #abbaab;  
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  
    background: linear-gradient(to right, #ffffff, #abbaab); 
    
    height: 1900px;
    width: 100%;
    margin: 0;
}


.nav {
    /* position: absolute; */
    margin-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
    
    height: 10vh;
    width: 90%;
    left: 10vh;
}

.nav input {
        
        border-radius: 5px;
        margin:0;
        padding: 0 20px;
        font-size: 18px;
        color: black;
        outline: none;
        border: 1px solid silver;
        border-radius: 30px;
        height: 20px;
        width: 150px;
}

.container_filtros {
    /* position:absolute; */
    border: 3px solid rgb(25, 0, 255);
    margin-bottom: 20px;

    top: 22vh;
    left: 30vh;
}

.paginado {
    /* position: absolute; */
    border:3px solid black;
}


.container_cards {
    /* position: absolute; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    text-align: center;
    margin-top: 10vh;
    padding-top:20px;
    
    flex-wrap: wrap;
    row-gap: 5px;
    gap: 10px;
    background-color: aliceblue;
    
    /* top: 25vh;
    right: 25vh; */
    height: 120vh;
    width: 90%;
    
}

